@model ProjetoVinicius.Domain.Entities.Pessoa

@{
    ViewBag.Title = "Create";
}
<h4>Pessoa</h4>
<hr />


<form method="post" id="form">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="radio-inline">
                Nome:
                <input type="text" name="nome" value="" class="form-control" />
            </label>
        </div>

        <div class="form-group">
            <label class="radio-inline">
                cpf:
                <input type="text" name="cpf" value="" class="form-control" />
            </label>
        </div>

        <div class="form-group">
            <label class="radio-inline">
                cep:
                <input type="text" name="cep" value="" class="form-control" />
            </label>
        </div>

        <div class="form-group">
            <label class="radio-inline">
                Rua:
                <input type="text" name="rua" value="" class="form-control" />
            </label>
        </div>

        <div class="form-group">
            <label class="radio-inline">
                Bairro:
                <input type="text" name="bairro" value="" class="form-control" />
            </label>
        </div>

        <div class="form-group">
            <label class="radio-inline">
                Estado:
                <input type="text" name="estado" value="" class="form-control" />
            </label>
        </div>

        <div class="form-group">
            <label class="radio-inline">
                Sexo
                <input type="text" name="sexo" value="" class="form-control" />
            </label>
        </div>


        <div class="form-group">
            <label class="radio-inline">
                Data:
                <input type="text" name="Data" value="" class="form-control" />
            </label>
        </div>


        <div>
            @Html.ActionLink("Voltar", "Index")
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enviar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/Pessoa.js"></script>